.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Liberation Sans", sans-serif;
}

.left-nav {
  float: left;
  padding: 8px;
}

.right-nav {
  float: right;
  padding: 8px;
}

.gmail-icon {
  width: 33px;
  border-radius: 50%;
}

.app-button {
  width: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.input-box {
  font-family: arial, sans-serif;
  border-color: rgb(209, 209, 221);
  border-width: 2px;
  border-style: solid;
  border-radius: 6%;
}

