.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.input-box {
  font-family: arial, sans-serif;
  border-color: rgb(209, 209, 221);
  border-width: 2px;
  border-style: solid;
  border-radius: 6%;
}

