* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Liberation Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

nav .nav-left {
  display: flex;
}

nav .nav-right {
  display: flex;
  padding: 10px;
}

.nav-links {
  padding-right: 5px;
}

.gmail-icon {
  width: 33px;
  border-radius: 50%;
}

.app-button {
  width: 20px;
}

main {
  padding: 10px;
  margin: 100px 0 0 0;
}

.logo {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
}

.input-box {
  font-family: arial, sans-serif;
  border-color: rgb(209, 209, 221);
  border-width: 2px;
  border-style: solid;
  border-radius: 6%;
}

footer {
  display: flex;
  flex-direction: column;
}

footer .country {
  padding: 10px 20px;
}

footer .bottom-footer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

footer .footer-left {
  display: flex;
}

footer .footer-center {
  display: flex;
}

footer .footer-right {
  display: flex;
}

.footer-links {
  padding-right: 7px;
}

.leaf {
  width: 20px;
}
